In [135]:
#import pymysql

import pandas as pd
from tabulate import tabulate
 #import numpy as np

 #import urllib
 #from sqlalchemy import create_engine
 #import plotly

In [136]:
Account_Data1 = pd.read_csv('/Users/integrationalpha/Documents/tinu/Frank/EXT_ACCOUNT_BALANCE001.csv',sep=',',encoding = "ISO-8859-1",names=['Account_Number','Nones','Start_Date','Account_Balance','None'])
#Account_Data = Account_Data[0].str.split('\s\|\s', expand=True)
#tabulate(Account_Data, headers="keys", tablefmt="orgtbl")

In [137]:
Account_Data2 = pd.read_csv('/Users/integrationalpha/Documents/tinu/Frank/EXT_ACCOUNT_BALANCE.csv',sep=',',encoding = "ISO-8859-1",names=['Account_Number','Nones','Start_Date','Account_Balance','None'])

In [138]:
Account_Data3 = pd.read_csv('/Users/integrationalpha/Documents/tinu/Frank/EXT_ACCOUNT_BALANCE.0001.csv',sep=',',encoding = "ISO-8859-1",names=['Account_Number','Nones','Start_Date','Account_Balance','None'])

In [139]:
Account = pd.concat([Account_Data1,Account_Data2,Account_Data1])

In [140]:
 
Account.head(5)

     Account_Number Nones           Start_Date  Account_Balance None
0.0  A4300000001-01   NaN  01.07.2014 23:36:16     21998.290040    D
1.0  A4300000001-02   NaN  01.07.2014 23:03:57    693577.192900    D
2.0  A4300000001-03   NaN  01.07.2014 23:04:33      1886.682732    D
3.0  A4300000001-04   NaN  01.07.2014 23:12:22     18094.945310    D
4.0  A4300000001-05   NaN  01.07.2014 23:03:37    401457.742300    D

In [131]:
print(Account.head(5))

     Account_Number Nones           Start_Date  Account_Balance None
0.0  A4300000001-01   NaN  01.07.2014 23:36:16     21998.290040    D
1.0  A4300000001-02   NaN  01.07.2014 23:03:57    693577.192900    D
2.0  A4300000001-03   NaN  01.07.2014 23:04:33      1886.682732    D
3.0  A4300000001-04   NaN  01.07.2014 23:12:22     18094.945310    D
4.0  A4300000001-05   NaN  01.07.2014 23:03:37    401457.742300    D

In [141]:
Account = Account.drop(['Nones','None'],axis=1)

In [142]:
print(Account.head(5))

     Account_Number           Start_Date  Account_Balance
0.0  A4300000001-01  01.07.2014 23:36:16     21998.290040
1.0  A4300000001-02  01.07.2014 23:03:57    693577.192900
2.0  A4300000001-03  01.07.2014 23:04:33      1886.682732
3.0  A4300000001-04  01.07.2014 23:12:22     18094.945310
4.0  A4300000001-05  01.07.2014 23:03:37    401457.742300

In [143]:
Account.shape

(180336, 3)