# IA Transaction Data Interactive Notebook Demo

In [6]:
 #import pymysql
import pandas as pd
 #import numpy as np

 #import urllib
 #from sqlalchemy import create_engine
 #import plotly

Cleaning, formatting and fixing of archive data

In [7]:
input_wiki = open('/Users/integrationalpha/Documents/tinu/EXT_TRANSACTION.csv', 'r',encoding = "ISO-8859-1")

cleaned_data = []

for i in input_wiki:
    x = i.split(";")
    if(len(x) == 38):
        new_x = x[0].split(',')
        first = True
        for ii in x:
            if(first):
                first = False
            else:
                new_x.append(ii)
        cleaned_data.append(new_x)
    elif(len(x) == 39):
        cleaned_data.append(x)
    else:
        print(len(x))

In [8]:
transaction = pd.DataFrame(cleaned_data)

In [9]:
transaction.columns = ['TRAN_ID','ENTRY_DATE','CALCULATION_DATE','SYSTEM_DATE','BOOKING_DATE','TARGET_ACCOUNT','y','BENEFICIARY_ACCOUNT','yy','yyy','SOURCE_ACCOUNT','BENEFICIARY_NAME','BENEFICIARY_COUNTRY','BENEFICIARY_BANK','BENE_PLACE','ORI_ACCOUNT','yyyy','ORI_NAME','yyyyy','yyyyyy','z','zz','UnkMarker','Type_of_trans','Info','Status','Type','zzz','Currency','zzzz','u','uu','Volume','Conversion','Sign','NUMBER_OF_SECURITIES','x','xx','xxx']
# To store... SOURCE_ACCOUNT, , BENEFICIARY_BRANCH

In [10]:
transaction = transaction.drop(['x','xx','xxx','y','yy','yyy','yyyy','yyyyy','yyyyyy','z','zz','zzz','zzzz','u','uu'],axis=1)

In [11]:
transaction.head(25)

,TRAN_ID,ENTRY_DATE,CALCULATION_DATE,SYSTEM_DATE,BOOKING_DATE,TARGET_ACCOUNT,BENEFICIARY_ACCOUNT,SOURCE_ACCOUNT,BENEFICIARY_NAME,BENEFICIARY_COUNTRY,...,UnkMarker,Type_of_trans,Info,Status,Type,Currency,Volume,Conversion,Sign,NUMBER_OF_SECURITIES
0,kdSD1,24.06.2014 22:57:22,24.06.2014 22:57:23,24.06.2014 22:57:24,24.06.2014 22:57:25,A4300000001-02,,,,,...,ACTX04,normal transaction,no additional info,OK,CASH,JPY,4058618.70446014,0.011130,+,3
1,kdSD2,24.06.2014 13:29:21,24.06.2014 13:29:22,24.06.2014 13:29:23,24.06.2014 13:29:24,A4300000001-02,,184987,"Gashi, Heinz",CH,...,ACTX04,normal transaction,no additional info,OK,PY,JPY,3670288.72235557,0.011130,+,3
2,kdSD3,24.06.2014 21:52:35,24.06.2014 21:52:36,24.06.2014 21:52:37,24.06.2014 21:52:38,A4300000001-02,,7288708,"Vavros, Jose",CH,...,ACTX04,normal transaction,no additional info,OK,PY,JPY,4435301.06564811,0.011130,+,3
3,kdSD4,24.06.2014 06:24:11,24.06.2014 06:24:12,24.06.2014 06:24:13,24.06.2014 06:24:14,A4300000001-02,,,,,...,ACTX04,normal transaction,no additional info,OK,CASH,JPY,4613075.79389954,0.011130,+,3
4,kdSD5,24.06.2014 23:06:23,24.06.2014 23:06:24,24.06.2014 23:06:25,24.06.2014 23:06:26,A4300000001-02,,8631088,"Schmid, Maria",CH,...,ACTX02,normal transaction,no additional info,OK,PY,JPY,3008768.38385367,0.011130,+,3
5,kdSD6,24.06.2014 19:42:02,24.06.2014 19:42:03,24.06.2014 19:42:04,24.06.2014 19:42:05,A4300000001-02,,9842230,"Dobrich, Christian",CH,...,ACTX01,normal transaction,no additional info,OK,PY,JPY,3723327.94911930,0.011130,+,3
6,kdSD7,24.06.2014 06:04:29,24.06.2014 06:04:30,24.06.2014 06:04:31,24.06.2014 06:04:32,A4300000001-02,,8056463,"Muller, Gian",CH,...,ACTX01,normal transaction,no additional info,OK,MT,JPY,5303544.90810311,0.011130,+,3
7,kdSD8,24.06.2014 08:24:29,24.06.2014 08:24:30,24.06.2014 08:24:31,24.06.2014 08:24:32,A4300000001-03,A4300006172-01,,,,...,ACTX03,normal transaction,no additional info,OK,PY,EUR,30850.30330073,1.544020,-,1
8,kdSD9,24.06.2014 08:24:33,24.06.2014 08:24:34,24.06.2014 08:24:35,24.06.2014 08:24:36,A4300006172-01,A4300000001-03,,,,...,ACTX08,normal transaction,no additional info,OK,PY,EUR,30850.30330073,1.544020,+,1
9,kdSD10,24.06.2014 09:04:01,24.06.2014 09:04:02,24.06.2014 09:04:03,24.06.2014 09:04:04,A4300000001-05,,12264569,"Widtmann, Peter",CH,...,ACTX04,normal transaction,no additional info,OK,PY,CHF,70685.51562500,1.000000,+,3
10,kdSD11,24.06.2014 18:10:18,24.06.2014 18:10:19,24.06.2014 18:10:20,24.06.2014 18:10:21,A4300000001-05,,1939375,"Buhagar, Daniela",CH,...,ACTX02,normal transaction,no additional info,OK,MT,CHF,44796.45312500,1.000000,+,3
11,kdSD12,24.06.2014 19:38:27,24.06.2014 19:38:28,24.06.2014 19:38:29,24.06.2014 19:38:30,A4300000001-05,,8860667,"Piazza, Luciano",CH,...,ACTX04,normal transaction,no additional info,OK,MT,CHF,72243.79687500,1.000000,+,3
12,kdSD13,24.06.2014 09:47:22,24.06.2014 09:47:23,24.06.2014 09:47:24,24.06.2014 09:47:25,A4300000001-05,,5249175,"Folino, Dasa",CH,...,ACTX04,normal transaction,no additional info,OK,MT,CHF,54280.00390625,1.000000,+,3
13,kdSD14,24.06.2014 15:49:28,24.06.2014 15:49:29,24.06.2014 15:49:30,24.06.2014 15:49:31,A4300000002-01,,12401032,"Grozdanovic, Manee",CH,...,ACTX02,normal transaction,no additional info,OK,MT,CHF,37766.08593750,1.000000,+,3
14,kdSD15,24.06.2014 15:45:31,24.06.2014 15:45:32,24.06.2014 15:45:33,24.06.2014 15:45:34,A4300000003-01,A4300013025-01,,,,...,ACTX01,normal transaction,no additional info,OK,PY,CAD,9242.61534236,0.974960,-,1
15,kdSD16,24.06.2014 15:45:35,24.06.2014 15:45:36,24.06.2014 15:45:37,24.06.2014 15:45:38,A4300013025-01,A4300000003-01,,,,...,ACTX09,normal transaction,no additional info,OK,PY,CAD,9242.61534236,0.974960,+,1
16,kdSD17,24.06.2014 21:22:26,24.06.2014 21:22:27,24.06.2014 21:22:28,24.06.2014 21:22:29,A4300000003-01,A4300017991-01,,,,...,ACTX03,normal transaction,no additional info,OK,MT,CAD,6931.96150677,0.974960,-,1
17,kdSD18,24.06.2014 21:22:30,24.06.2014 21:22:31,24.06.2014 21:22:32,24.06.2014 21:22:33,A4300017991-01,A4300000003-01,,,,...,ACTX05,normal transaction,no additional info,OK,MT,CAD,6931.96150677,0.974960,+,1
18,kdSD19,24.06.2014 19:12:10,24.06.2014 19:12:11,24.06.2014 19:12:12,24.06.2014 19:12:13,A4300000003-01,A4300012786-01,,,,...,ACTX04,normal transaction,no additional info,OK,MT,CAD,5198.97113008,0.974960,-,1
19,kdSD20,24.06.2014 19:12:14,24.06.2014 19:12:15,24.06.2014 19:12:16,24.06.2014 19:12:17,A4300012786-01,A4300000003-01,,,,...,ACTX08,normal transaction,no additional info,OK,MT,CAD,5198.97113008,0.974960,+,1
20,kdSD21,24.06.2014 21:26:10,24.06.2014 21:26:11,24.06.2014 21:26:12,24.06.2014 21:26:13,A4300000004-01,A4300011693-04,,,,...,ACTX03,normal transaction,no additional info,OK,MT,CHF,10980.76953125,1.000000,-,1
21,kdSD22,24.06.2014 21:26:14,24.06.2014 21:26:15,24.06.2014 21:26:16,24.06.2014 21:26:17,A4300011693-04,A4300000004-01,,,,...,ACTX03,normal transaction,no additional info,OK,MT,CHF,10980.76953125,1.000000,+,1
22,kdSD23,24.06.2014 20:08:09,24.06.2014 20:08:10,24.06.2014 20:08:11,24.06.2014 20:08:12,A4300000004-01,A4300017348-03,,,,...,ACTX03,normal transaction,no additional info,OK,PY,CHF,31353.97656250,1.000000,-,1
23,kdSD24,24.06.2014 20:08:13,24.06.2014 20:08:14,24.06.2014 20:08:15,24.06.2014 20:08:16,A4300017348-03,A4300000004-01,,,,...,ACTX03,normal transaction,no additional info,OK,PY,CHF,31353.97656250,1.000000,+,1
24,kdSD25,24.06.2014 11:41:30,24.06.2014 11:41:31,24.06.2014 11:41:32,24.06.2014 11:41:33,A4300000004-01,A4300000400-01,,,,...,ACTX04,normal transaction,no additional info,OK,MT,CHF,397.08300781,1.000000,-,1

In [12]:
transaction.tail(25)

,TRAN_ID,ENTRY_DATE,CALCULATION_DATE,SYSTEM_DATE,BOOKING_DATE,TARGET_ACCOUNT,BENEFICIARY_ACCOUNT,SOURCE_ACCOUNT,BENEFICIARY_NAME,BENEFICIARY_COUNTRY,...,UnkMarker,Type_of_trans,Info,Status,Type,Currency,Volume,Conversion,Sign,NUMBER_OF_SECURITIES
1036814,kdSD1036815,30.06.2014 04:15:27,30.06.2014 04:15:28,30.06.2014 04:15:29,30.06.2014 04:15:30,A4300015376-01,A4300019997-01,,,,...,ACTX10,normal transaction,no additional info,OK,PY,CHF,2291.34148957,1.000000,+,1
1036815,kdSD1036816,30.06.2014 23:27:20,30.06.2014 23:27:21,30.06.2014 23:27:22,30.06.2014 23:27:23,A4300019997-02,,2185678,"Meletta, Olivier",CH,...,ACTX03,normal transaction,no additional info,OK,MT,CAD,49839.52742154,0.974960,+,3
1036816,kdSD1036817,30.06.2014 16:02:25,30.06.2014 16:02:26,30.06.2014 16:02:27,30.06.2014 16:02:28,A4300019997-02,,4448198,"Handschin, Peter",CH,...,ACTX03,normal transaction,no additional info,OK,MT,CAD,47699.04956465,0.974960,+,3
1036817,kdSD1036818,30.06.2014 22:04:15,30.06.2014 22:04:16,30.06.2014 22:04:17,30.06.2014 22:04:18,A4300019997-02,,11882025,"Moreira, Lothar",CH,...,ACTX03,normal transaction,no additional info,OK,PY,CAD,40584.24433086,0.974960,+,3
1036818,kdSD1036819,30.06.2014 08:19:21,30.06.2014 08:19:22,30.06.2014 08:19:23,30.06.2014 08:19:24,A4300019997-02,,7789193,"Leutwyler, Corinne",CH,...,ACTX02,normal transaction,no additional info,OK,MT,CAD,45804.93522291,0.974960,+,3
1036819,kdSD1036820,30.06.2014 09:48:09,30.06.2014 09:48:10,30.06.2014 09:48:11,30.06.2014 09:48:12,A4300019997-04,A4300019668-02,,,,...,ACTX02,normal transaction,no additional info,OK,PY,CHF,1728.12889076,1.000000,-,1
1036820,kdSD1036821,30.06.2014 09:48:13,30.06.2014 09:48:14,30.06.2014 09:48:15,30.06.2014 09:48:16,A4300019668-02,A4300019997-04,,,,...,ACTX12,normal transaction,no additional info,OK,PY,CHF,1728.12889076,1.000000,+,1
1036821,kdSD1036822,30.06.2014 05:16:35,30.06.2014 05:16:36,30.06.2014 05:16:37,30.06.2014 05:16:38,A4300019998-01,,5454343,"Fischer, Margot",CH,...,ACTX03,normal transaction,no additional info,OK,MT,CHF,66071.63281250,1.000000,+,3
1036822,kdSD1036823,30.06.2014 14:57:33,30.06.2014 14:57:34,30.06.2014 14:57:35,30.06.2014 14:57:36,A4300019998-01,,2734042,"Felix, Maria",CH,...,ACTX02,normal transaction,no additional info,OK,PY,CHF,50323.07812500,1.000000,+,3
1036823,kdSD1036824,30.06.2014 05:04:22,30.06.2014 05:04:23,30.06.2014 05:04:24,30.06.2014 05:04:25,A4300019998-01,,909052,"Vaghela, Bruno",CH,...,ACTX02,normal transaction,no additional info,OK,MT,CHF,45439.94531250,1.000000,+,3
1036824,kdSD1036825,30.06.2014 00:16:07,30.06.2014 00:16:08,30.06.2014 00:16:09,30.06.2014 00:16:10,A4300020000-01,,5711974,"Falbo, Muriel",CH,...,ACTX02,normal transaction,no additional info,OK,MT,CHF,40119.64453125,1.000000,-,2
1036825,kdSD1036826,30.06.2014 12:46:05,30.06.2014 12:46:06,30.06.2014 12:46:07,30.06.2014 12:46:08,A4300020000-03,A4300018407-02,,,,...,ACTX02,normal transaction,no additional info,OK,PY,CHF,52299.52343750,1.000000,-,1
1036826,kdSD1036827,30.06.2014 12:46:09,30.06.2014 12:46:10,30.06.2014 12:46:11,30.06.2014 12:46:12,A4300018407-02,A4300020000-03,,,,...,ACTX08,normal transaction,no additional info,OK,PY,CHF,52299.52343750,1.000000,+,1
1036827,kdSD1036828,30.06.2014 18:44:18,30.06.2014 18:44:19,30.06.2014 18:44:20,30.06.2014 18:44:21,A4300020000-03,A4300013546-01,,,,...,ACTX04,normal transaction,no additional info,OK,PY,CHF,61155.60937500,1.000000,-,1
1036828,kdSD1036829,30.06.2014 18:44:22,30.06.2014 18:44:23,30.06.2014 18:44:24,30.06.2014 18:44:25,A4300013546-01,A4300020000-03,,,,...,ACTX06,normal transaction,no additional info,OK,PY,CHF,61155.60937500,1.000000,+,1
1036829,kdSD1036830,30.06.2014 23:45:33,30.06.2014 23:45:34,30.06.2014 23:45:35,30.06.2014 23:45:36,A4300020000-03,A4300006407-02,,,,...,ACTX03,normal transaction,no additional info,OK,PY,CHF,5792.78738202,1.000000,-,1
1036830,kdSD1036831,30.06.2014 23:45:37,30.06.2014 23:45:38,30.06.2014 23:45:39,30.06.2014 23:45:40,A4300006407-02,A4300020000-03,,,,...,ACTX12,normal transaction,no additional info,OK,PY,CHF,5792.78738202,1.000000,+,1
1036831,kdSD1036832,30.06.2014 12:53:15,30.06.2014 12:53:16,30.06.2014 12:53:17,30.06.2014 12:53:18,A4300020000-03,A4300002862-04,,,,...,ACTX04,normal transaction,no additional info,OK,PY,CHF,4344.59053652,1.000000,-,1
1036832,kdSD1036833,30.06.2014 12:53:19,30.06.2014 12:53:20,30.06.2014 12:53:21,30.06.2014 12:53:22,A4300002862-04,A4300020000-03,,,,...,ACTX11,normal transaction,no additional info,OK,PY,CHF,4344.59053652,1.000000,+,1
1036833,kdSD1036834,30.06.2014 12:27:24,30.06.2014 12:27:25,30.06.2014 12:27:26,30.06.2014 12:27:27,A4300020000-03,A4300009740-02,,,,...,ACTX04,normal transaction,no additional info,OK,PY,CHF,3258.44290239,1.000000,-,1
1036834,kdSD1036835,30.06.2014 12:27:28,30.06.2014 12:27:29,30.06.2014 12:27:30,30.06.2014 12:27:31,A4300009740-02,A4300020000-03,,,,...,ACTX11,normal transaction,no additional info,OK,PY,CHF,3258.44290239,1.000000,+,1
1036835,kdSD1036836,30.06.2014 11:37:39,30.06.2014 11:37:40,30.06.2014 11:37:41,30.06.2014 11:37:42,A4300020000-03,A4300013564-03,,,,...,ACTX01,normal transaction,no additional info,OK,MT,CHF,2443.83217679,1.000000,-,1
1036836,kdSD1036837,30.06.2014 11:37:43,30.06.2014 11:37:44,30.06.2014 11:37:45,30.06.2014 11:37:46,A4300013564-03,A4300020000-03,,,,...,ACTX04,normal transaction,no additional info,OK,MT,CHF,2443.83217679,1.000000,+,1
1036837,kdSD1036838,30.06.2014 13:05:07,30.06.2014 13:05:08,30.06.2014 13:05:09,30.06.2014 13:05:10,A4300020000-03,A4300000744-02,,,,...,ACTX01,normal transaction,no additional info,OK,PY,CHF,1832.87413259,1.000000,-,1
1036838,kdSD1036839,30.06.2014 13:05:11,30.06.2014 13:05:12,30.06.2014 13:05:13,30.06.2014 13:05:14,A4300000744-02,A4300020000-03,,,,...,ACTX03,normal transaction,no additional info,OK,PY,CHF,1832.87413259,1.000000,+,1

# Data exploration

Find which factors may be interesting.

For example covered countries:

In [ ]:
transaction['BENEFICIARY_COUNTRY'].unique() # BRANCH = NAME

No null Values but obviously values with no content and the length 0.

In [ ]:
transaction.isnull().values.any()

Parts which can be removed because they are all identical, they will not help to produce any knowledge in this case.

In [ ]:
print(len(transaction['Type_of_trans'].unique()))
print(len(transaction['Info'].unique()))
print(len(transaction['Status'].unique()))

Every field can be described, independend on the type:

In [ ]:
transaction['ENTRY_DATE'].describe()

In [ ]:
transaction['Conversion'] = transaction['Conversion'].astype(np.float32)
transaction['Volume'] = transaction['Volume'].astype(np.float32)
transaction['Volume'].describe()

A transaction with the value 0 is a canditate for a wrong datapoint.

# Data Engineering

However, that is not yet useful because we have different currencies with massively different value:
    
Data Set splitting or data engineering is needed!!!

In [ ]:
transaction_CH = transaction[transaction['Currency'] == 'CHF']
transaction_JPY = transaction[transaction['Currency'] == 'JPY']
transaction_CH.head()

In [ ]:
print(len(transaction_CH))
transaction_CH.describe()

In [ ]:
print(len(transaction_JPY))
transaction_JPY.describe()

# Plotting of interesting Values

In [ ]:
test = transaction_CH['NUMBER_OF_SECURITIES'].value_counts()
print(test)

In [ ]:
test_type = transaction_CH['Type'].value_counts()
print(test_type)

In [ ]:
import plotly.graph_objs as go

labels = ['1','2','3']
values = [258594,290842,227566]

trace = go.Pie(labels=labels, values=values)

plotly.offline.iplot([trace], filename='basic_pie_chart')

In [ ]:
import plotly.graph_objs as go

labels = ['PY','MT','CASH']
values = test_type

trace = go.Pie(labels=labels, values=values)

plotly.offline.iplot([trace], filename='donut')

In [ ]:
data = [go.Histogram(x=transaction_JPY['Volume'])]

plotly.offline.iplot(data, filename='basic histogram2')

In [ ]:
data = [go.Histogram(x=transaction_CH['Volume'])]

plotly.offline.iplot(data, filename='basic histogram')

In [ ]:
x0 = transaction_CH[transaction_CH['Type'] == 'CASH']
x1 = transaction_CH[transaction_CH['Type'] != 'CASH']

In [ ]:
Cash = go.Histogram(
    x=x0['Volume'],
    opacity=0.75
)
Non_Cash = go.Histogram(
    x=x1['Volume'],
    opacity=0.75
)

data = [Cash, Non_Cash]
layout = go.Layout(barmode='overlay')
fig = go.Figure(data=data, layout=layout)

plotly.offline.iplot(fig, filename='overlaid histogram')

Ok, it seems not to be that easy that you can split the two groups directly, but Cash is significantly smaller than the other two types of transcations.

In [ ]:
sample = transaction.sample(1000)

print(plotly.__version__)           # version 1.9.4 required
plotly.offline.init_notebook_mode() # run at the start of every notebook
plotly.offline.iplot({
"data": [{
    "x": [2,4,6],
    "y": [1,3,7]
}],
"layout": {
    "title": "Volumes of transactions"
}
})

# Building the ML model

After much longer analysis of that type, you get an idea, how the data is and can then build an ML model to predict something with it, for example: Can I distinguish Cash and MT or can I predict typical sums out of the data. 

The algorithm is simple to implement. However, if the data is not processed like shown above, the results will be nonsense because for example the volumes will confuse the system, the exchanging rate would predict as datawhole always the Transaction country, etc....

From here on only examplifying code!!

To visualize still an example which predicts not much but shows the capabilities:

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

transaction_CH_CASH = transaction_CH['Type']
transaction_CH_pred = transaction_CH.drop(['Type'],axis=1)

All the input has to be transformed like that: Following knowledge to decide if One-hot or labelencoding. Is 2,3,4,5 really better, if not, then use one-Hot encoding.

In [ ]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
transaction_CH_pred['BENEFICIARY_COUNTRY'] = le.fit_transform(transaction_CH_pred['BENEFICIARY_COUNTRY'])
transaction_CH_pred['BENEFICIARY_BANK'] = le.fit_transform(transaction_CH_pred['BENEFICIARY_BANK'])
transaction_CH_pred['BENEFICIARY_COUNTRY'].head()

In [ ]:
transaction_CH_pred_used = transaction_CH_pred[['BENEFICIARY_COUNTRY','Volume','NUMBER_OF_SECURITIES','BENEFICIARY_BANK']]
transaction_CH_pred_used.head()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(transaction_CH_pred_used, transaction_CH_CASH, test_size=0.33, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
clf = RandomForestClassifier(random_state=42)

In [ ]:
clf.fit(X_train, y_train)

And a simple prediction (accurancy)

In [ ]:
clf.score(X_train,y_train)

In [ ]:
clf.score(X_test,y_test)

The output indicates massive overfitting which is no wonder for such a simple demo. That means we will start to explore the model and its characteristica:

In [ ]:
clf.get_params()

In [ ]:
clf.feature_importances_